<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- PO Traductions -->
            <remove fileExtension=".po" />
            <mimeMap fileExtension=".po" mimeType="text/x-gettext-translation" />
            <!-- WOFF2 Fonts -->
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <!-- APPCACHE For Manifest FILES -->
            <remove fileExtension=".appcache" />
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
        </staticContent>
    </system.webServer>
</configuration>
